<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787370939449-e4i47j6u64vsnu12v27o1sbs9hmkgr0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787370939449-e4i47j6u64vsnu12v27o1sbs9hmkgr0q</string>
	<key>API_KEY</key>
	<string>AIzaSyAhyTAU0H3pHmbdtngT_SSdXMnED5jQjVA</string>
	<key>GCM_SENDER_ID</key>
	<string>787370939449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.knu.comp420.moaap10.Final</string>
	<key>PROJECT_ID</key>
	<string>finalcode-2d564</string>
	<key>STORAGE_BUCKET</key>
	<string>finalcode-2d564.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787370939449:ios:36034da5a010ebfcdfa9e8</string>
</dict>
</plist>