<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107872765188-ijiimo0nl170se54l99sdvkdtiskjf6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107872765188-ijiimo0nl170se54l99sdvkdtiskjf6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDk2Ov1D871_Qiq6OwuL44OUKk5N870pUY</string>
	<key>GCM_SENDER_ID</key>
	<string>107872765188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.knu.comp420.moaap10.GrowYourLife</string>
	<key>PROJECT_ID</key>
	<string>growyourlife-c6e89</string>
	<key>STORAGE_BUCKET</key>
	<string>growyourlife-c6e89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107872765188:ios:fcc34574bee2d5c07abc51</string>
</dict>
</plist>